body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: #EEE8D6;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
}

.navbar-inverse {
  background: #022933;
}

.pull-right {
  margin-top: 10px;
  margin-left: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.jumbotron {
  background: #0076A3;
  color: #ffffff;
}

.nils {
  z-index: 999;
  width: 50%;
}

.w3img {
  max-width: 30px;
}

.website {
  color: #ffffff;
  font-size: 1rem;
  margin-left: 10px;
}

.konpa {
  color: #ffffff;
}

h1 {
  color: #D14348;
}

.stanford {
  margin-top: 10px;
  width: 30%;
}

img.udemy {
  width: 30%;
}
